<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ordersimport</name>
	<displayName><![CDATA[ordersimport]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Import orders from csv]]></description>
	<author><![CDATA[LobsterLab]]></author>
	<tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[Realy?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>